/*presets*/
*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 25px;
}
img{
    max-width: 100%
    width: auto;
}
.ct{
    text-align: center;
}
#footer{
    background: #CCD5AE;
    padding: 5px;
    font-size: 10px;
}
/*columns*/
.inner{
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: auto;
}
.c33{
    width: 33.3333333%;
}
.c50{
    width: 50%;
}
.c100{
    width: 100%;
}
.p10{
    padding: 10px;
}
.p40{
    padding: 40px;
}
body{
    background: #CCD5AE;
}
/*home specifics*/
#about img{
    max-width: 20%;
    width: auto;
    padding: 10px;
    border-radius: 100%
}
#contain{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contain p{
    margin-left: 1em;
}
#gallery{
    background: #FAEDCD;
}
#about{
    background: #FEFAE0;
}
